nav {
    width: 100%;
    font-size: 36px;
    color: #fff;
    /* margin-bottom: 50px; */
    background-image: linear-gradient(to left,  rgb(34, 33, 33), gray, lightgray, gray, rgb(34, 33, 33))
    /* height: auto; */
  }  
  nav li {
    display: inline-block;
    padding: 26px 0; 
    width: 33%;
    text-align: center;
  }
  
  ul {
    padding-left: 0px;
    font-family: 'Pacifico', cursive !important;
  }

  @media screen and (max-width: 640px){
    nav {
        font-size: 20px
    }
  }